/* index.css */

body {
    background-color: #3A3A3A;
    color: #F7F7F7;
}

#example-frame {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	border: 1px solid #1a1a1a;  
	padding: 40px;
}

#example-code-frame {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	border: 1px solid #1a1a1a;  
	padding: 0px;
}